/*------------------------------------------------------------------ 
Project:      Inkscape Translation Statistics   (statistics)
--------------------------------------------------------------------*/  
.po-stats table {
  margin: 20px;
}

.po-stats thead {
  font-weight: bold;
}

.po-stats td {
  padding-right: 20px;
}

.po-stats td:nth-child(5)  {
    text-align: end;
}

.po-stats td:nth-child(5):after  {
    content: " ✔";
    line-height: 0px;
    visibility: hidden;
}
.po-stats tr.complete td:nth-child(5):after  {
    visibility: visible;
}